.faq-container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.faq-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-list {
    border-top: 1px solid #ddd;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-answer {
    margin-top: 10px;
    color: #555;
    animation: fadeIn 0.3s ease-in-out;
}

.faq-toggle {
    background-color: white; /* Белый фон */
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.faq-toggle:hover {
    background-color: #f0f0f0;
}

.faq-icon {
    font-size: 16px;
    font-weight: bold;
}

.faq-toggle.open {
    transform: rotate(45deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
