.main{
    width: 78%;
    margin: 0 auto;
}

.background-section {
    height: 100vh;
    width: 100%; /* Используйте 100% вместо 103% */
}

.img-section {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: fit-content;
    width: 70%;
}

.Video-Cource {
    width: 85%;
    max-width: 1450px;
    height: auto;
    border-radius: 15px;
    margin: 10% auto;
    display: block;
}
.Main-text {
     font: 1.2rem "Helvetica Neue", Helvetica, Arial, sans-serif;
     margin-bottom: 30px;
 }

.h2-main-header {
    width: 80%; /* Увеличьте ширину для лучшей читаемости */
    font-size: 1.5rem; /* Используйте rem для лучшей масштабируемости */
    margin: 0 auto;
}
.text-for-brend {
    margin: 10% auto;
    width: 65%;
    font: 1.2rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 5%;
}

.smalltext-for-brend {
    width: 60%; /* Увеличьте ширину для лучшей читаемости */
    font-size: 1.5rem; /* Используйте rem для лучшей масштабируемости */
    margin: 0 auto;
}

.App-logo{
    background-size: contain; /* Используйте 'contain', чтобы вся картинка поместилась в секцию */
    background-position: center;
    height: 32px;
    width: 32px;
}
.horizontal {
    display: flex;
    flex-wrap: wrap;
    width: 89%;
    margin: 0 auto;
}
.image-container-comapany{
    width: 60%;
    margin: 5% auto;
}
.container-graphics{
    width: 85%;
    border-radius: 1rem;
    margin: 10% auto 0 auto;
    border: 3px solid #f5f5f4;
    padding: 10% 0;
}
.section-guarantee{
    display: flex;
    width: 85%;
    background-color: #f5f5f4;
    margin: 0 auto;
    border-radius: 1.5rem;
    height: 340px;
    margin-bottom: 35dvh;
}
.section-guarantee-left, .section-guarantee-right{
    flex: 1;
}
.section-guarantee-left{
    margin: 4% 5%;
}
.img-garanty-logo{
    background-size: contain;
    height: auto;
    width: 100%;
}
.font-text{
    font: 1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    line-height: 20px;
}
.font-strong-text{
    font: 1.1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.img-shield-logo{
    width: 40%;
    height: auto;
    margin-left: -50%;
}
.div-img-shield{
    justify-items: left;
}
.paragraph-button{
    font-size: 38px;
    font-weight: bold;
    width: 70%;
    margin: 10% auto;
}
.container-buttons-main{
    width: 85%;
    margin: 0 auto;
}
.buttons-container{
    display: flex;
    align-items: center;
    height: 130px;
    margin: 2% auto;
}
.button-href{
    flex: 1;
    background-color: #f5f5f4;
    margin: 10px;
    border-radius: 1.5rem;
}
.button-p-href{
    flex: 1;
    margin: 10px;
    border-radius: 1.5rem;
}
.two-button-href{
    flex: 2.14;
    background-color: #f5f5f4;
    margin: 10px;
    border-radius: 1.5rem;
}
.img-button{
    margin-top: 15px;
    width: auto;
    height: 57%;
    color: transparent;
}
.paragraph-main-button{
    font-size: 2.3rem;
    font-weight: 800;
    width: 90%;
    margin: 3.2% auto 0 auto;
}
.paragraph-button{
    color: #1a1a1a;
    font-size: 1rem;
    margin: auto;
}
.button-link{
    width: 100%;
    height: 100%;
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
}
.button-p-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}
.slider-img {
    width: 500px;
    margin: 0 auto;
}

.start-container-block{
    display: flex;
    background-color: #f5f5f4;
    width: 85%;
    margin: 0px auto 2% auto;
    border-radius: 1.5rem;
}
.start-container-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
}
.start-container-right{
    flex: 1.5;
    width: 50%;
}
.start-img{
    width: 100%;
    margin-top: 30px;
}
.text-start-container{
    text-align: left;
    margin-left: 30px;
}
.small-img-start{
    width: 10%;
    margin: 7% auto 0 30px;
}
.big-text{
    font-size: 2rem;
    line-height: 50px;
    margin: 0;
}
.diagnostic-link{
    color: #996600;
    line-height: 0;
}
.html-css-link{
    color: #ea4e43;
    line-height: 5px;
}
.diagnostic-link:hover{
    color: #996600;
}
.html-css-link:hover{
    color: #ea4e43;
}
.table-of-content{
    text-align: left;
    font-size: 2.3rem !important;
    font-weight: 740;
    width: 85%;
    margin: 15% auto 4% auto;
    line-height: 2.5rem;
}
.head-start{
    display: flex;
    flex-direction: row;
    width: 92%;
    margin: 0px auto;
}
.head-start-img{
    width: 60%;
    margin-top: 100px;
}
.head-title{
    flex: 2;
}
.head-img{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;

}
.img-people{
    width: 50%;
}
.img-div{
    display: flex;
    width: 85%;
    margin: 0% auto;
}
.block-adventage{
    width: 85%;
    margin: 0% auto 3%;
    display: flex;
}
.job-block{
    display: flex;
    width: 85%;
    margin: 0% auto 3%;
}
.job-block-left{

}
.job-block-right{
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
}
.main-css-style{
    width: 48%;
    background-color: #f5f5f4;
    margin: 0% auto;
    border-radius: 1rem;
}
.img-job{
    width: 100%;
}
.img-job-right{
    position: absolute;
    right: -30px;
    bottom: -7px;
}
.h3-job-title{
    text: left;
}
.button-href.active {
    background-color: white; /* Белый фон */
    border: 3px #f5f5f4 solid;
    border-radius: 1.5rem/* Черная граница */
}
.two-button-href.active {
    background-color: white; /* Белый фон */
    border: 3px #f5f5f4 solid;
    border-radius: 1.5rem/* Черная граница */
}